# 在 GitHub repository 開啟 Discussions，安裝 giscus app，
# 再到 https://giscus.app/zh-TW 取得以下四個值。
NEXT_PUBLIC_GISCUS_REPO=your-github-name/your-repository
NEXT_PUBLIC_GISCUS_REPO_ID=
NEXT_PUBLIC_GISCUS_CATEGORY=Announcements
NEXT_PUBLIC_GISCUS_CATEGORY_ID=
